{% extends "base.html" %}
{% load static %}
{% block content %}

  <div class="row pt-5 pb-5">
    <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
      <h1>You were logged out</h1>
      <div data-aos="fade-up" data-aos-delay="800">
        <a href="{% url "login" %}">Click here to log in again</a>
      </div>
    </div>
    <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
      <img src="{% static 'images/logged_out-img.png' %}" class="img-fluid animated" alt="">
    </div>
  </div>

{% endblock %}
